*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(images/back.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

.glass{
    width: 930px;
    height: 520px;
    box-shadow: 0 0 8px aquamarine;
    background-image: url(images/front.jpg);
    background-position: center;
    background-size: cover;
}

.navBar{
    display: flex;
    padding: 30px 8%;
}
.logo{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: white;
    cursor: pointer;
    align-items: center;
}
.logo span{
    font-size: 22px;
    color: aquamarine;
}
.navBar ul{
    flex: 1;
    text-align: right;
}
.navBar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    transition: 0.1s ease-out;
}
.navBar ul li:hover{
    border-bottom: 2px solid aquamarine;
}
.navBar ul li a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-weight: bolder;
}
.imgPro{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -7px;
    transition: 0.1s ease;
}
.imgPro:hover{
    border: 2px solid aquamarine;
}

.status h3{
    color: aquamarine;
    margin: 80px 110px -25px;
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
}
.status h1{
    color: white;
    margin: 0px 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150px;
    letter-spacing: 10px;
    opacity: 0.6;

    background-image: linear-gradient(45deg,green,orange,red,white,aquamarine,purple,white,aquamarine,black);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;    
}
.icons i{
    color: rgb(84, 127, 113);
}

.icons {
    display: flex;
    margin-top: 80px;
    margin-right: 50px;
}

.icons ul{
    flex: 1;
    text-align: right;
}

.icons ul li{
    list-style: none;
    display: inline-block;
    margin: 15px;
    padding: 10px;
}

.icons ul li i{
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.1s all;
}.icons ul li i:hover{
    color: aquamarine;
}
